@mixin clear-fix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin text-gradient {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
  0 - 600px : Phone
  601-900px: Tablet portrait
  901 - 1200px: Tablet Landscape
  1201 - 1800px : Is our style
  1800px < Big desktop
*/

/*
  $breakpoint argument choice
  - phone
  -tab-port
  -tab-land
  -big-desktop

  ORDER : Base + typography + general layout + grid + page layout + components

*/

@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media (max-width: 600px) {
      @content;
    }
  }

  @if ($breakpoint == tab-port) {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if ($breakpoint == tab-land) {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if ($breakpoint == big-desktop) {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

