.card {
  // Functionality
  perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    overflow: hidden;
    width: 100%;
    transition: transform 1s;
    height: 52rem;
    position: absolute;
    top: 0;
    border-radius: 3.5px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    left: 0;
    backface-visibility: hidden;

    &--front {
      background: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-medium,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // Front side styling
  &__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-medium,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 2rem;
    color: $color-white;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-medium, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem 0 0 0;

    ul {
      list-style: none;
      margin: 0 auto;
      width: 80%;

      li {
        text-align: center;
        padding: 1rem;
        font-size: 1.5rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // Back side styling

  &__cta {
    @include position-center;
    width: 90%;
    text-align: center;
  }

  &__price-box {
    margin-bottom: 8rem;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  @media (max-width: 900px), (hover: none) {
    height: auto;
    border-radius: 3px;
    overflow: hidden;
    background-color: $color-white;

    &__side {
      position: relative;
      border-radius: 0;
      height: auto;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }
    
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__heading {
      width: 50%;
    }

    &__details {
      padding: 1rem 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
  @include respond(phone) {
    &__heading {
      width: 60%;
    }
  }
}
