.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    & .btn {
        border: none;
    }
  }

  &__input {
    width: 90%;
    padding: 1.5rem 2rem;
    font-family: inherit;
    display: block;
    font-size: 1.5rem;
    color: inherit;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 2px;
    background-color: $color-input-bg;
    transition: all 0.3s;

    &:focus-visible {
      border-bottom: 3px solid $color-primary-medium;

      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.17);
    }

    &:focus-visible:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
  }

  &__label {
    font-size: 1.2rem;
    margin-top: 0.7rem;
    margin-left: 2rem;
    font-weight: 700;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    display: inline-block;
    width: 49.5%;
  }

  &__radio-input {
    display: none;
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__radio-label {
    position: relative;
    padding-left: 4rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary-medium;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.5rem;

    &::after {
      content: "";
      width: 1.4rem;
      height: 1.4rem;
      display: block;
      background-color: $color-primary-medium;
      border-radius: 50%;
      @include position-center;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}
