.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 3000;
  top: 0;
  left: 0;
    backdrop-filter: blur(1rem);

  opacity: 0;
  visibility: hidden;
  transition: all 0.7s;

  &__content {

    width: 75%;
    display: table;
    background-color: $color-white;
    @include position-center;
    border-radius: 5px;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.2);
    transition: 0.4s 0.3s;
    box-shadow: 0 2rem 4rem rgba($color-black, .4);
  }

  &__left {
    display: table-cell;
    width: 33.33333%;
  }

  &__right {
    padding: 0 5rem;
    display: table-cell;
    width: 66.66667%;
    vertical-align: middle;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__text {
    margin-bottom: 4rem;
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    color: $color-grey-dark;
    position: absolute;
    top: 2.5rem;
    line-height: 1;
    right: 2.5rem;
    text-decoration: none;
    transition: color .3s;
    font-size: 3rem;

    &:hover {
        color: $color-primary-medium;
    }

  }
}
