.story {
  background-color: rgba($color-white, 0.7);
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-15deg);

  @include respond(phone) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
    transform: skew(0deg);
  }

  & > * {
    transform: skewX(15deg);

    @include respond(phone) {
      transform: skew(0deg);
    }
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    position: relative;

    transform: translateX(-3rem) skewX(15deg);

    @include respond(phone) {
      transform: translateX(-3rem) skew(0deg);
    }
  }

  &__img {
    position: relative;
    height: 100%;
    transform: scale(1.5) translateX(-2rem);
    transition: all .5s;
  }

  &__caption {
    font-size: 1.7rem;
    text-transform: uppercase;  
    @include position-center;
    opacity: 0;
    color: $color-white;
    transition: all 0.5s;
    text-align: center;
  }

  &:hover &__caption{
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: scale(1) translateX(-3rem);
    filter: blur(3px) brightness(0.8);
  }
}
