h1,
h2,
h3 {
  text-transform: uppercase;
}

.heading-primary {
  letter-spacing: .2rem;
  color: $color-white;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-in-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-in-out;
  }
}

.heading-secondary {
  letter-spacing: .2rem;
  font-size: 3.5rem;
  font-weight: 700;
  
  @include text-gradient;

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 1rem rgba($color-black, 0.1);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
