.text-center  {
    text-align: center !important;
}

.mb-xl {
    margin-bottom: 8rem !important;
}

.mb-l {
    margin-bottom: 4rem !important;
}

.mb-s {
    margin-bottom: 1.5rem !important;
}

.mt-xl {
    margin-top: 10rem !important;
}